body {
	margin:0;
}
#selection_bar {
	top:0px;
	left:0px;
	width:100%;
	height:50%;
	background-color: yellow;
}
#task_select {
	background-color: beige;
}
#x_box {
	background-color: azure;
}
#y_box {
	background-color: aliceblue;
}
#add_filter {
	cursor: pointer;
	background-color: crimson;
	text-align:center;
	width:100px;
	visibility:hidden;
}
#display_canvas {
	cursor: pointer;
	background-color: #32383C;
	height:100%;
	width:100%;
	left:0px;
}

#generate_plot {
	width:70%;
	text-align: center
}
.attractive_button {
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.attractive_button:hover {
	background-color:#e9e9e9;
}
.attractive_button:active {
	position:relative;
	top:1px;
}


.selection_box {
	float:left;
	height:100%;
	padding:1em;
	overflow:auto;
}
.filter {
	background-color: white;
}