<html>

<head>
	<title>Benchtracker viewer</title>
	<link rel="stylesheet" type="text/css" href="/static/viewer.css" />
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.css" rel="stylesheet" type="text/css"></link>
    <script src="/static/plotter.js"></script>
	<script src="/static/viewer.js"></script>
</head>


<body>

<div id="selection_bar">
	<div class="selection_box" id="task_select">
		<h5>Select tasks</h5>
		<form action="">
			{% for task_name, task_context in tasks.iteritems() %}
		    <label title={{task_context}}><input type="checkbox" name="tasks" value="{{ task_name }}|{{ task_context }}">{{task_name}}<br></label>
		    {% endfor %}
	    </form>
    </div>
    <div class="selection_box" id="x_box"> 
    	<h5>x parameter</h5>
    	<form id="x_param"></form>
    </div>
    <div class="selection_box" id="y_box">
    	<h5>y parameter</h5>
    	<form id="y_param"></form>
    </div> 
    <div class="selection_box" id="add_filter"><br><br><br><br><h1>+</h1><br>filter</div>
</div>

<div id="display_canvas">
	<a id="generate_plot" href="#" class="attractive_button"><span>Generate plot</span></a>
    <div class="selection_box" id="overlay_select">
        <h5>select overlay axes</h5>
        <!--this form should not have any server side handler
            so more precisely, it should be a button-->
        <form action="" id="overlay_axes_selector">
        </form>
    </div>
    <div id="chart">
    </div>
</div>

</body>

</html>
